#testimonials {
	background-image: url(/ai2/i/image_text2.jpg);
	background-repeat: no-repeat;
	height: 100px;
	width: 443px;"
}

#testimonials_title {
	font-size: 200%;
	padding: 1em 0 0 1em;
	color: #fff;
	width: 60%;
	float: left;
}

#testimonials_body {
	padding: 1em 1em 0 0;
	color: #fff;
	width: 30%;
	float: right;
}

#testimonials_body {
	padding: 1em 1em 0 0;
	color: #fff;
	width: 30%;
	float: right;
}

#stories {
	border: solid;
	border-width: 1px;
	border-color: #ccc;
}

#stories_title {
	color:#fff;
	font-weight: bold;
	background:#3c5f84;
	padding: .30em 0 .30em .5em;
}

#stories ul {
	padding: .6em .6em .6em 2.5em;
	list-style-image: url(/ai2/i/fw_bold.gif);
	list-style-type: disc;
}

#stories ul li {
	padding-bottom: .3em;
}

#whatis {
	border: solid;
	border-width: 1px;
	border-color: #ccc;
}

#whatis_title {
	color:#fff;
	font-weight: bold;
	background:#3c5f84;
	padding: .30em 0 .30em .5em;
}

#whatis_body {
	padding: .60em;
}

#whatis_link {
	padding-left: 3em;
	text-decoration: none;

}

#whatis_link a {
	text-decoration: none;
	color: #3e6186;
}

#whatis_link img {
	text-decoration: none;
	padding-left: 1.5em;
}

#membership {
	border: solid;
	border-width: 1px;
	border-color: #ccc;
}

#membership ul {
	padding: .6em .6em .6em 2.5em;
	list-style-image: url(/ai2/i/fw.gif);
	list-style-type: disc;
}

#membership ul li {
	padding-bottom: .3em;
}

#quicklinks {
	border: solid;
	border-width: 0 1px 1px 1px;
	border-color: #ccc;
}

#quicklinks ul {
	padding: .6em .6em .6em 2.5em;
	list-style-image: url(/ai2/i/fw.gif)
}

#quicklinks ul li {
	padding-bottom: .3em;
}

.cleary {
	clear: both;
}