<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>farris</display-name>
  <servlet>
    <description>Handles the request for posts</description>
    <display-name>BlogServlet</display-name>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.cameronpalmer.farris.servlet.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CompressionFilter</filter-name>
    <filter-class>com.cameronpalmer.farris.filter.CompressionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CSSCacheFilter</filter-name>
    <filter-class>com.cameronpalmer.farris.filter.ResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=3600</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>FaviconCacheFilter</filter-name>
    <filter-class>com.cameronpalmer.farris.filter.ResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>Cache-Control</param-name>
      <param-value>max-age=3600</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.cameronpalmer.farris.filter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FaviconCacheFilter</filter-name>
    <url-pattern>/favicon.ico</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CSSCacheFilter</filter-name>
    <url-pattern>/css/main.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CompressionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.cameronpalmer.farris.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/FrontController</url-pattern>
  </servlet-mapping>
</web-app>