body,
html {
	margin: 2px 0;
	padding:0;
	color:#000;
	background: #669 url(../i/graygradient2.jpg) repeat-x top left;
}
body {
	min-width:770px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 1em;
}
#container {
	background:#ddd;
	margin:0 auto;
	width:770px;
}
#header {
	background:#ddd;
}
#header h1 {
	padding:5px;
	margin:0;
}
#topnav {
	background: #ccc  url(../i/graybuttoncopy.jpg) repeat-x top left;
	padding:5px;
}
#topbanner {
	border-bottom-style: solid;
	border-bottom-color: #ffcc00;
	border-bottom-width: 3px; 
}
#topnav ul{
	margin:0;
	padding:0 0 0 2em;
	list-style:none;
}
#topnav li{
	display:inline;
	margin:0;
	padding: 0 1em 0.5em 1em;
	color: #332266;
}
#topnav a {
	text-decoration: none;
	color: #333;
}
#rightbar {
	background:#fff;
	float:right;
	width:600px;
	min-height: 700px;
	border-color: #ffcc00;
	border-style: solid;
	border-width: 1px 0 0 0;
}
#rightbar h1, #rightbar h2, #rightbar p, #rightbar table {
	padding:0 10px;
}
#rightbar h1 {
   font-size: 120%;
   color: #332266;
}
#leftbar {
	background:#ddd;
	float:left;
	width:168px;
	border-color: #ffcc00;
	border-style: solid;
	border-width: 1px 0 0 0;
}
#leftbar dl {
	padding: 1em 0 0 0;
	margin: 0;
}
#leftbar dt {
	padding: 1em 0 0 1em;
	margin: 0;
	clear: none;
} 
#leftbar dd {
	padding:0;
	margin: 0;
}
#leftbar ul {
	margin-bottom:0;
}
#leftbar ul li {
   padding: 0 0.5em 0.3em 0;
   margin: 0;
   list-style-image: url(../i/triangle.gif);
   color: #333;
}
#leftbar a {
   color: #333;
}
#leftbar h3, #leftbar p {
	padding:0 10px 0 0;
}
#footer {
	color: #ffcc00;
	background: #003 url(../i/purplebottom.jpg) repeat-x top left;
	clear:both;
	border-color: #ffcc00;
	border-style: solid;
	border-width: 3px 0 0 0;
}
#footer p {
	margin: 0;
	padding: 1em 0 1em 2em;
}
}