body {
	margin: 0;
	padding: 20px;
	font: medium Arial;
	min-width: 750px;
}

h1 {
	font: medium Georgia;
	padding: 2em;
	border: solid 1px;
	border-color: #555;
	color: #000;
	background-color: #eed;
	font-size: 200%;
}

h2 {
	font: medium Georgia;
	font-size: 150%;
	margin: 0;
	padding: .5em 0;
}

h3 {
	font: medium Georgia;
	font-size: 110%;
	margin: 0 0 0 2em;
}

ul {
	margin-left: 2em;
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #555;
	text-decoration: none;
}

li a {
	color: #000;
	text-decoration: none;
}

li a:hover {
	color: #555;
}

table {
	margin: 0 0 0 50px;
}

th {
	border: solid 1px;
	border-color: #000;
	padding: .5em 1em .5em .5em;
	text-align: left;
	background-color: #eed;
}

td {
	padding: 5px;
	border: solid 1px;
	border-color: #000;
	text-align: right;
}

.leftside {
	margin: 0;
	padding: 0;
	float: left;
	width: 80%;
}

.rightside {
	float: right;
	width: 20%;
}

.form {
	float: left;
	clear: left;
}

.error {
	float: left;
	clear: left;
	margin: 0.5em 1em;
	color: #f00;
	text-decoration: bold;
}

.nonerror {
	float: left;
	clear: left;
	margin: 0.5em 1em;
}

.progtable {
	margin: 2em;
	float: left;
	clear: left;
}

.progtable td:hover {
	background-color: #ff9;
}

.matrix {
	margin: 0.5em 1em;
	float: left;
	clear:left;
}

#text_input {
	margin: 0.5em 1em;
}

#radio_input {
	margin: 0.5em 1em;
}

#select_input {
	margin: 0.5em 1em;
}

#about {
	margin: 0 0 0 50px;
}

#footer {
	float: left;
	width: 90%;
	font: medium Georgia;
	margin: 1em;
	padding: 1em;
	border: solid 1px;
	border-color: #555;
	color: #000;
	background-color: #eed;
}

#srcode {
	float: left;
	width: 90%;
	margin: 1em;
	padding: .5em;
	background-color: #ccf;
	border: 1px dashed #000;
}

