body {
	font: small Arial;
}

div#content {
	margin: 1em;
}
div#content p {
	padding-left: .75em;
}

div#javabox a {
	color: black;
	text-decoration: dotted;
}
div#javabox a:hover {
	color: #00964d;
}

div#pbody {
	width: 90%;
	margin-top: 1em;
	margin-left: 1.5em;
	float: left;
	clear: left;
}

div#header {
	border: 1px Solid #000;
    min-height: 130px;
}
div#header img {
	float: left; padding: 1em;
}
div#header h1 {
    padding: 0; margin: 0;
	font: small Georgia;
	font-size: 250%;
	margin-left: 1em;
    padding-top: 1em;
}

div#sidebar {
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #000;
}
div#sidebar ul {
    margin: 0; padding: 6px 0 6px 0;
}
div#sidebar li {
	font-size: 110%;
	float: left;
	padding: 0 10px;
	list-style: none;
}
div#sidebar a {
	color: black;
	text-decoration: none;
}
#footer {
	border: 1px Solid #000;
	padding: 1em;
}
#footer a {
	text-decoration: none;
	color: #000;
}
div#footer a:hover {
	color: #00964d;
}

div.cleary {
	clear: left;
	width: 0; height: 0; line-height: 0;
}