img.sideline {
	float: left;
	margin: 10px -15px 10px 10px;
}

p.box {
	border: 1px solid gray;
	padding: 0.5em;
}

p.box strong {
	border: 3px double black;
	background: silver;
	padding: 2px;
}

h2#jump-up {
	margin-top: -15px;
	background: silver;
}
