.hide {
	display: none;
}

body {
	font: 76% "Lucida Grande",Lucida,Arial,sans-serif;
}

h1 {
	font: 3em/130% Georgia,serif;
}

h2 {
	font: 2em/130% Georgia,serif;
}

h3 {
	font: 1.6em/130% Georgia,serif;
}

code {
	font-size: 110%;
}
